{% set APP_ID = 'arculus-poc' %}

{% set INF_NAMESPACE = ('-' + properties.infrastructureName|string) if properties.infrastructureName else '' %}
{% set INF__NAMESPACE = INF_NAMESPACE|replace("-","_") %}
{% set ENV_NAMESPACE = ('_' + properties.environment|string|replace("-","_")) if properties.environment else '' %}

{% set PUB_SUB_NAMESPACE = INF_NAMESPACE + ENV_NAMESPACE %}
{% set K8S_NAMESPACE = ((properties.environment|string) if properties.environment else 'default') %}

{% set CLUSTER_TYPE_NAME = APP_ID + INF_NAMESPACE + '-type' %}
{% set CLUSTER_TYPE = env['project'] + '/' + CLUSTER_TYPE_NAME + ':/api/v1/namespaces/{namespace}/' %}
{% set CLUSTER_BETA_TYPE_NAME = APP_ID + INF_NAMESPACE + '-type-v1beta1-extensions' %}
{% set CLUSTER_BETA_TYPE = env['project'] + '/' + CLUSTER_BETA_TYPE_NAME + ':/apis/extensions/v1beta1/namespaces/{namespace}/' %}

{% set K8S_DEPLOYMENTS_TYPE = CLUSTER_BETA_TYPE + 'deployments' %}
{% set K8S_INGRESSES_TYPE = CLUSTER_BETA_TYPE + 'ingresses' %}
{% set K8S_SERVICES_TYPE = CLUSTER_TYPE + 'services' %}
{% set K8S_DAEMONSET_TYPE = CLUSTER_BETA_TYPE + 'daemonsets' %}
{% set K8S_CONFIGMAPS_TYPE = CLUSTER_TYPE + 'configmaps' %}