{% set APP_ID = 'arculus-poc' %}

{% set INF_NAMESPACE = ('-' + properties.infrastructureName|string) if properties.infrastructureName else '' %}
{% set INF__NAMESPACE = INF_NAMESPACE|replace("-","_") %}
{% set ENV_NAMESPACE = ('_' + properties.environment|string|replace("-","_")) if properties.environment else '' %}

{% set INF_ENV_NAMESPACE = INF_NAMESPACE + ENV_NAMESPACE %}
{% set K8S_NAMESPACE = ((properties.environment|string) if properties.environment else 'default') %}
{% set DISK_NAMESPACE = (INF_ENV_NAMESPACE|string|replace("_","-")) %}

{% set CLUSTER_TYPE_NAME = APP_ID + INF_NAMESPACE + '-type' %}
{% set CLUSTER_TYPE = env['project'] + '/' + CLUSTER_TYPE_NAME + ':/api/v1/namespaces/{namespace}/' %}
{% set CLUSTER_BETA_TYPE_NAME = APP_ID + INF_NAMESPACE + '-type-v1beta1-extensions' %}
{% set CLUSTER_BETA_TYPE = env['project'] + '/' + CLUSTER_BETA_TYPE_NAME + ':/apis/extensions/v1beta1/namespaces/{namespace}/' %}
{% set CLUSTER_BATCH_TYPE_NAME = APP_ID + INF_NAMESPACE + '-type-v1-batch' %}
{% set CLUSTER_BATCH_TYPE = env['project'] + '/' + CLUSTER_BATCH_TYPE_NAME + ':/apis/batch/v1/namespaces/{namespace}/' %}
{% set CLUSTER_BATCH_BETA_TYPE_NAME = APP_ID + INF_NAMESPACE + '-type-v1beta-batch' %}
{% set CLUSTER_BATCH_BETA_TYPE = env['project'] + '/' + CLUSTER_BATCH_BETA_TYPE_NAME + ':/apis/batch/v1beta1/namespaces/{namespace}/' %}
{% set RBAC_AUTHORIZATION_BETA_TYPE_NAME = APP_ID + INF_NAMESPACE + '-type-v1beta-rbac-authorization' %}
{% set RBAC_AUTHORIZATION_BETA_TYPE = env['project'] + '/' + RBAC_AUTHORIZATION_BETA_TYPE_NAME + ':/apis/rbac.authorization.k8s.io/v1beta1/namespaces/{namespace}/' %}

{% set K8S_DEPLOYMENTS_TYPE = CLUSTER_BETA_TYPE + 'deployments' %}
{% set K8S_INGRESSES_TYPE = CLUSTER_BETA_TYPE + 'ingresses' %}
{% set K8S_SERVICES_TYPE = CLUSTER_TYPE + 'services' %}
{% set K8S_DAEMONSET_TYPE = CLUSTER_BETA_TYPE + 'daemonsets' %}
{% set K8S_CONFIGMAPS_TYPE = CLUSTER_TYPE + 'configmaps' %}
{% set K8S_JOBS_TYPE = CLUSTER_BATCH_TYPE + 'jobs' %}
{% set K8S_CRONJOBS_TYPE = CLUSTER_BATCH_BETA_TYPE + 'cronjobs' %}
{% set K8S_ROLEBINDINGS_TYPE = RBAC_AUTHORIZATION_BETA_TYPE + 'rolebindings' %}
{% set K8S_ROLES_TYPE = RBAC_AUTHORIZATION_BETA_TYPE + 'roles' %}