{% import '../common/namespace.jinja' as ns with context %}

{% set infrastructureName = properties['infrastructureName'] %}
{% set environment = properties['environment'] %}

resources:
- name: config
  type: ../common/config.jinja
  properties:
    infrastructureName: {{ infrastructureName }}
    environment: {{ environment }}

- name: qlsi-hdb
  type: qlsi-hdb.jinja
  properties:
    infrastructureName: {{ infrastructureName }}
    environment: {{ environment }}

- name: qlsi-tp
  type: qlsi-tp.jinja
  properties:
    infrastructureName: {{ infrastructureName }}
    environment: {{ environment }}