{% import '../common/namespace.jinja' as ns with context %}

resources:
- name: qlsi-tp-deployment
  type: {{ ns.K8S_DEPLOYMENTS_TYPE }}
  properties:
    apiVersion: extensions/v1beta1
    kind: Deployment
    namespace: {{ ns.K8S_NAMESPACE }}
    metadata:
      name:  qlsi-tp
      labels:
        app: qlsi-tp
    spec:
      replicas: 1
      template:
        metadata:
          labels:
            name: qlsi-tp
          annotations:
            prometheus.io/scrape: "true"
        mycustom: annotation
        spec:
          nodeSelector:
            cloud.google.com/gke-nodepool: default-pool
          securityContext:
            fsGroup: 1000
          hostname: kdb-server
          subdomain: hsbc
          containers:
          - name: qlsi-tp
            image: gcr.io/{{ env['project'] }}/kdb-test/qlsi-tp
            command: ["q"]
            args: ["tick.q", "sym", "/tp", "-p", "8082"]
            ports:
            - name: http
              containerPort: 8082
            volumeMounts:
            - name: config-volume
              mountPath: /config
            volumeMounts:
            - name: data-files
              mountPath: /tp
          - name: qlsi-rdb
            image: gcr.io/{{ env['project'] }}/kdb-test/qlsi-tp
            command: ["q"]
            args: ["tick/r.q", ":8082", "-p", "8083"]
            ports:
            - name: http
              containerPort: 8083
            volumeMounts:
            - name: config-volume
              mountPath: /config
            volumeMounts:
            - name: data-files
              mountPath: /tp
          - name: qlsi-tprep
            image: gcr.io/{{ env['project'] }}/kdb-test/qlsi-tp
            command: ["sleep"]
            args: ["3600"]
            ports:
            - name: http
              containerPort: 8084
            volumeMounts:
            - name: config-volume
              mountPath: /config
            volumeMounts:
            - name: data-files
              mountPath: /tp
          volumes:
          - name: config-volume
            configMap:
              name: configmap-files
          - name: data-files
            gcePersistentDisk:
              pdName: tp-disk{{ ns.DISK_NAMESPACE }}
              fsType: ext4
- name: qlsi-tp-service
  type: {{ ns.K8S_SERVICES_TYPE }}
  properties:
    apiVersion: v1
    kind: Service
    namespace: {{ ns.K8S_NAMESPACE }}
    metadata:
      name: qlsi-tp
    spec:
      type: LoadBalancer
      ports:
      - name: tp
        port: 8082
        protocol: TCP
      - name: rdb
        port: 8083
        protocol: TCP
      - name: tprep
        port: 8084
        protocol: TCP
      selector:
        name: qlsi-tp
