{% import '../common/namespace.jinja' as ns with context %}

resources:
- name: qlsi-hdb-deployment
  type: {{ ns.K8S_DEPLOYMENTS_TYPE }}
  properties:
    apiVersion: extensions/v1beta1
    kind: Deployment
    namespace: {{ ns.K8S_NAMESPACE }}
    metadata:
      name:  qlsi-hdb
      labels:
        app: qlsi-hdb
    spec:
      replicas: 1
      template:
        metadata:
          labels:
            name: qlsi-hdb
          annotations:
            prometheus.io/scrape: "true"
        mycustom: annotation
        spec:
          nodeSelector:
            cloud.google.com/gke-nodepool: default-pool
          containers:
          - name: qlsi-hdb
            image: gcr.io/{{ env['project'] }}/kdb-test/qlsi-hdb
            ports:
            - name: http
              containerPort: 8081
            volumeMounts:
            - name: config-volume
              mountPath: /config
            volumeMounts:
            - name: data-files
              mountPath: /hdb
          volumes:
          - name: config-volume
            configMap:
              name: configmap-files
          - name: data-files
            gcePersistentDisk:
              pdName: hdb-disk{{ ns.DISK_NAMESPACE }}
              fsType: ext4
- name: qlsi-hdb-service
  type: {{ ns.K8S_SERVICES_TYPE }}
  properties:
    apiVersion: v1
    kind: Service
    namespace: {{ ns.K8S_NAMESPACE }}
    metadata:
      name: qlsi-hdb
    spec:
      type: LoadBalancer
      ports:
      - port: 8081
        targetPort: http
        protocol: TCP
      selector:
        name: qlsi-hdb