{% import '../common/namespace.jinja' as ns with context %}

resources:
- name: app
  type: app.jinja
  properties:
    infrastructureName: {{ properties['infrastructureName'] }}
    environment: {{ properties['environment'] }}
    httpProxy: {{ properties['httpProxy'] }}