resources:
- name: kdb-k8s-cluster
  type: cluster.jinja
  properties:
     infrastructureName: {{ properties["infrastructureName"] }}
     computeResource: {{ properties["computeResource"] }}
     zone: {{ properties["zone"] }}
