{% import '../common/namespace.jinja' as ns with context %}

resources:
- name: role-manage-deployments{{ns.ENV_NAMESPACE}}
  type: {{ns.K8S_ROLES_TYPE}}
  properties:
    kind: Role
    apiVersion: rbac.authorization.k8s.io/v1beta1
    namespace: {{ns.K8S_NAMESPACE}}
    metadata:
      name: manage-deployments{{ns.ENV_NAMESPACE}}
      namespace: {{ns.K8S_NAMESPACE}}
    rules:
    - apiGroups: [""]
      resources: ["deployments"]
#      verbs: ["get", "list", "watch", "create", "update", "patch", "delete"]
#      verbs: ["get", "list", "watch", "create", "update", "patch"]
      verbs: ["get", "list", "update", "patch"]