{% import '../common/namespace.jinja' as ns with context %}

resources:
- name: reverse-proxy-deployment
  type: {{ ns.K8S_DEPLOYMENTS_TYPE }}
  properties:
    apiVersion: extensions/v1beta1
    kind: Deployment
    namespace: {{ ns.K8S_NAMESPACE }}
    metadata:
      name:  reverse-proxy
      labels:
        app: reverse-proxy
    spec:
      replicas: 1
      template:
        metadata:
          labels:
            name: reverse-proxy
          annotations:
            prometheus.io/scrape: "true"
        mycustom: annotation
        spec:
          nodeSelector:
            cloud.google.com/gke-nodepool: default-pool
          containers:
          - name: reverse-proxy
            image: gcr.io/{{ env['project'] }}/kdb-test/reverse-proxy
            command: ['nginx', '-g', 'daemon off;']
            ports:
            - name: http
              containerPort: 80
            volumeMounts:
            - name: config-volume
              mountPath: /config
          volumes:
          - name: config-volume
            configMap:
              name: configmap-files
- name: reverse-proxy-service
  type: {{ ns.K8S_SERVICES_TYPE }}
  properties:
    apiVersion: v1
    kind: Service
    namespace: {{ ns.K8S_NAMESPACE }}
    metadata:
      name: reverse-proxy
    spec:
      type: LoadBalancer
      ports:
      - port: 8081
        targetPort: http
        protocol: TCP
      selector:
        name: reverse-proxy
