{% import '../common/namespace.jinja' as ns with context %}

{% set infrastructureName = properties['infrastructureName'] %}
{% set environment = properties['environment'] %}

resources:
- name: config
  type: ../common/config.jinja
  properties:
    infrastructureName: {{ infrastructureName }}
    environment: {{ environment }}

- name: disk-mount-job
  type: disk-mount-job.jinja
  properties:
    infrastructureName: {{ properties.infrastructureName }}
    environment: {{ properties.environment }}