{% import '../common/namespace.jinja' as ns with context %}

{% set infrastructureName = properties['infrastructureName'] %}
{% set environment = properties['environment'] %}

resources:
- name: config
  type: ../common/config.jinja
  properties:
    infrastructureName: {{ infrastructureName }}
    environment: {{ environment }}

- name: crob-job-stop-qlsi-hdb
  type: crob-job-stop-qlsi-hdb.jinja
  properties:
    infrastructureName: {{ properties.infrastructureName }}
    environment: {{ properties.environment }}

- name: crob-job-writedown
  type: crob-job-writedown.jinja
  properties:
    infrastructureName: {{ properties.infrastructureName }}
    environment: {{ properties.environment }}
