{% import '../common/namespace.jinja' as ns with context %}

resources:
- name: cron-job-writedown
  type: {{ ns.K8S_CRONJOBS_TYPE }}
  properties:
    apiVersion: batch/v1beta1
    kind: CronJob
    namespace: {{ ns.K8S_NAMESPACE }}
    metadata:
      name: cron-job-writedown
      labels:
        app: cron-job-writedown
    spec:
      schedule: "10 03 * * *"
      concurrencyPolicy: Forbid
      successfulJobsHistoryLimit: 7
      jobTemplate:
        spec:
          template:
            metadata:
              labels:
                name: cron-job-writedown
              annotations:
                prometheus.io/scrape: "true"
            mycustom: annotation
            spec:
              nodeSelector:
                cloud.google.com/gke-nodepool: default-pool
              securityContext:
                fsGroup: 1000
              hostname: hsbc
              subdomain: qlsiwritedown
              initContainers:
              - name: writedown
                image: gcr.io/{{ env['project'] }}/kdb-test/qlsi-tp
                command: ["q"]
                args: ["tick/writedown.q"]
                ports:
                - name: http
                  containerPort: 8087
                volumeMounts:
                - name: config-volume
                  mountPath: /config
                - name: writedown-data-files
                  mountPath: /hdb
              - name: start-qlsi-hdb
                image: gcr.io/{{ env['project'] }}/kdb-test/python
                command: ["python"]
                args: ["script/scaleDeploymentReplicas.py", "qlsi-hdb", "1"]
                volumeMounts:
                - name: config-volume
                  mountPath: /config
              containers:
              - name: dummy-job
                image: gcr.io/google-appengine/base
                command: ["/bin/bash"]
                args: ["-c", "date;echo Job completed."]
              volumes:
              - name: config-volume
                configMap:
                  name: configmap-files
              - name: writedown-data-files
                gcePersistentDisk:
                  pdName: hdb-disk{{ ns.DISK_NAMESPACE }}
                  fsType: ext4
              restartPolicy: Never
