{% import '../common/namespace.jinja' as ns with context %}

resources:
- name: python-{{ ns.DISK_NAMESPACE }}
  type: {{ ns.K8S_DEPLOYMENTS_TYPE }}
  properties:
    apiVersion: extensions/v1beta1
    kind: Deployment
    namespace: {{ ns.K8S_NAMESPACE }}
    metadata:
      name:  python
      labels:
        app: python
    spec:
      replicas: 1
      template:
        metadata:
          labels:
            name: python
          annotations:
            prometheus.io/scrape: "true"
        mycustom: annotation
        spec:
          nodeSelector:
            cloud.google.com/gke-nodepool: default-pool
          containers:
          - name: python3
            image: gcr.io/{{ env['project'] }}/kdb-test/python
            command: ["/bin/sh"]
            args: ["-c", "while true; do date; sleep 2; done"]
#            args: ["script/scaleDeploymentReplicas.py", "qlsi-hdb", "0"]
            volumeMounts:
            - name: config-volume
              mountPath: /config
          volumes:
          - name: config-volume
            configMap:
              name: configmap-files