{% import '../common/namespace.jinja' as ns with context %}

resources:
- name: run-once-job{{ ns.DISK_NAMESPACE }}
  type: {{ ns.K8S_JOBS_TYPE }}
  properties:
    apiVersion: batch/v1
    kind: Job
    namespace: {{ ns.K8S_NAMESPACE }}
    metadata:
      name: run-once-job{{ ns.DISK_NAMESPACE }}
      labels:
        app: run-once-job{{ ns.DISK_NAMESPACE }}
    spec:
      template:
        metadata:
          labels:
            name: run-once-job{{ ns.DISK_NAMESPACE }}
          annotations:
            prometheus.io/scrape: "true"
        mycustom: annotation
        spec:
          nodeSelector:
            cloud.google.com/gke-nodepool: default-pool
          containers:
          - name: run-once-job
            image: gcr.io/google-appengine/base
            command: ["/bin/bash"]
            args: ["-c", "date;echo;cat /config/gcp-env.conf"]
            ports:
            - name: http
              containerPort: 8081
            volumeMounts:
            - name: config-volume
              mountPath: /config
          volumes:
          - name: config-volume
            configMap:
              name: configmap-files
          restartPolicy: Never