{% import '../common/namespace.jinja' as ns with context %}

resources:
- name: cron-job-writedown-{{ ns.DISK_NAMESPACE }}
  type: {{ ns.K8S_DEPLOYMENTS_TYPE }}
  properties:
    apiVersion: extensions/v1beta1
    kind: Deployment
    namespace: {{ ns.K8S_NAMESPACE }}
    metadata:
      name:  cron-job-writedown
      labels:
        app: cron-job-writedown
    spec:
      replicas: 1
      template:
        metadata:
          labels:
            name: cron-job-writedown
          annotations:
            prometheus.io/scrape: "true"
        mycustom: annotation
        spec:
          nodeSelector:
            cloud.google.com/gke-nodepool: default-pool
          containers:
          - name: kube-proxy
            image: gcr.io/google-containers/kubectl:v1.0.7
            command: ["./kubectl"]
            args: ["proxy"]
          - name: curl-api
            image: gcr.io/{{ env['project'] }}/kdb-test/curl-box
            command: ["/bin/bash"]
            args: ["-c", "while true; do /usr/bin/curl http://localhost:8001/api/v1/namespaces/kube-system/services?labelSelector=kubernetes.io%2Fcluster-service%3Dtrue; sleep 2; done"]
