{% import '../common/namespace.jinja' as ns with context %}

resources:
- name: disk-mount-job{{ ns.DISK_NAMESPACE }}
  apiVersion: batch/v1
  kind: Job
  metadata:
    name: disk-mount-job{{ ns.DISK_NAMESPACE }}
  spec:
    template:
      metadata:
        name: disk-mount-job{{ ns.DISK_NAMESPACE }}
      spec:
        nodeSelector:
          cloud.google.com/gke-nodepool: default-pool
        containers:
        - name: disk-mount-job-hdb
          image: gcr.io/{{ env['project'] }}/kdb-test/disk-mount-job
          volumeMounts:
          - name: data-files
            mountPath: /hdb
          volumes:
          - name: data-files
            gcePersistentDisk:
              pdName: hdb-disk{{ ns.DISK_NAMESPACE }}
              fsType: ext4
        restartPolicy: Never