{% set infrastructureName = properties['infrastructureName'] %}
{% set environment = properties['environment'] %}

resources:
  - name: k8s-namespace
    type: k8s-namespace.jinja
    properties:
      infrastructureName: {{ infrastructureName }}
      environment: {{ environment }}
  - name: disk
    type: disk.jinja
    properties:
      infrastructureName: {{ properties.infrastructureName }}
      environment: {{ properties.environment }}
      zone: {{ properties.zone }}
  - name: rolebinding
    type: rolebinding.jinja
    properties:
      infrastructureName: {{ properties.infrastructureName }}
      environment: {{ properties.environment }}
      zone: {{ properties.zone }}
  - name: role
    type: role.jinja
    properties:
      infrastructureName: {{ properties.infrastructureName }}
      environment: {{ properties.environment }}
      zone: {{ properties.zone }}

