{% set infrastructureName = properties['infrastructureName'] %}
{% set environment = properties['environment'] %}

resources:
  - name: k8s-namespace
    type: k8s-namespace.jinja
    properties:
      infrastructureName: {{ infrastructureName }}
      environment: {{ environment }}
  - name: disk
    type: disk.jinja
    properties:
      infrastructureName: {{ properties.infrastructureName }}
      environment: {{ properties.environment }}
      zone: {{ properties.zone }}
  - name: config
    type: ../common/config.jinja
    properties:
      infrastructureName: {{ infrastructureName }}
      environment: {{ environment }}
  - name: pv
    type: persistent-volume.jinja
    properties:
      infrastructureName: {{ infrastructureName }}
      environment: {{ environment }}
  - name: pvc
    type: persistent-volume-claim.jinja
    properties:
      infrastructureName: {{ infrastructureName }}
      environment: {{ environment }}

