{% import '../common/namespace.jinja' as ns with context %}

{% set infrastructureName = properties['infrastructureName'] %}
{% set environment = properties['environment'] %}

resources:
- name: kdb-writedown{{ ns.DISK_NAMESPACE }}
  apiVersion: batch/v1
  kind: Job
  metadata:
    name: kdb-writedown{{ ns.DISK_NAMESPACE }}
  spec:
    template:
      metadata:
        name: kdb-writedown{{ ns.DISK_NAMESPACE }}
      spec:
        nodeSelector:
          cloud.google.com/gke-nodepool: default-pool
        containers:
        - name: kdb-writedown-job
          image: gcr.io/{{ env['project'] }}/kdb-test/qlsi-tp
          command: ["q"]
          args: ["tick/writedown.q"]
          volumeMounts:
          - name: data-files
            mountPath: /hdb
          volumes:
          - name: data-files
            gcePersistentDisk:
              pdName: hdb-disk{{ ns.DISK_NAMESPACE }}
              fsType: ext4
        restartPolicy: Never
